<md-content layout="column" layout-fill class="relative-full-height blank-bg-homepage" layout-align="end center">


	<span class="home-welcome">Good Morning, Human!</span>

	<div class="row">
		<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        	<md-card-title>
         		 <md-card-title-text>
           			 <span class="md-subhead">Reminder</span>
           			 <span class="md-headline">Take Pulmozyme at 08:00</span>           			 
         		 </md-card-title-text>
         		 <md-card-title-media>
           			 <div class="md-media-md card-media"></div>
         		 </md-card-title-media>
       		 </md-card-title>
       		 <md-card-actions layout="row" layout-align="end center">
        		  <md-button>Ignore</md-button>
         		 <md-button>Go</md-button>
       		 </md-card-actions>
     	 </md-card>

     	 <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        	<md-card-title>
         		 <md-card-title-text>
           			 <span class="md-subhead">Reminder</span>
           			 <span class="md-headline">ENT visit 14:30</span>           			 
         		 </md-card-title-text>
         		 <md-card-title-media>
           			 <div class="md-media-md card-media"></div>
         		 </md-card-title-media>
       		 </md-card-title>
       		 <md-card-actions layout="row" layout-align="end center">
        		  <md-button>Ignore</md-button>
         		 <md-button>Go</md-button>
       		 </md-card-actions>
     	 </md-card>
		
	</div>
	

</md-content>